:root{
    --bg-green: #519287;
    --bg-grey: #D9DAD3;
    --grey: #E9E9E9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    /* background-image: linear-gradient(#519287 20%, #E9E9E9 80%); */
}

main{
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80vw;
    height: 95vh;
    flex-flow: row nowrap;
}

aside{
    width: 480px;
    height: 100%;
}

.main-box{
    width: 100%;
}

/* utils */
.debug{
    background-color: green;
    border: 1px solid black;
}

.d-flex{
    display: flex;
}

.m-auto{
    margin: 0 auto;
}

.jc-between{
    justify-content: space-between;
}


/* main */

/* aside */
aside .account{
    height: 80px;
}

aside .notifications{
    height: 100px;
}

aside .contact-search{
    height: 60px;
}


aside .chat-list{
    height: calc(100% - 240px);
    overflow: scroll;
}


/* main box */

.main-box .main-account{
    height: 80px;
}